<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BingImageSearch_SubscriptionKey" value="[REPLACE WITH KEY]" />
		<!--
        Verify the endpoint URI. If you encounter unexpected authorization errors,
        double-check this value against the Bing search endpoint in your Azure dashboard.
        -->
		<add key="BingImageSearch_UriBase" value="https://api.cognitive.microsoft.com/bing/v7.0/images/search" />
	</appSettings>
</configuration>
