<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
        Name:     ImposterSyndromeImageSearch
        Key 1:    2383a354adb5478db99e159e5099a9af
        Key 2:    5331cf6f5d934931a2efa5793a2e2296
        -->
		<add key="BingImageSearch_SubscriptionKey" value="2383a354adb5478db99e159e5099a9af" />
		<!--
        Verify the endpoint URI. If you encounter unexpected authorization errors,
        double-check this value against the Bing search endpoint in your Azure dashboard.
        -->
		<add key="BingImageSearch_UriBase" value="https://api.cognitive.microsoft.com/bing/v7.0/images/search" />
	</appSettings>
</configuration>
